<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}

  <link rel="stylesheet" href="{% static 'fonts.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Knowlege Base</title>
</head>

<body>
  <div class="header">
    <div><a href="/">LOGO Knowledge Base</a></div>
    <div>
      <a href="/add">Hinzufügen</a> |
      <a href="/agb">AGB</a> |
      <a href="/legal-notice">Impressum</a>
    </div>
  </div>
  {% block content %}{% endblock %}
</body>

</html>